body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  border-top: solid 50px black;
}
.header-list li{
  display: inline;
  padding: 0 15px;
  font-size: 12px;
}
.header-list a:hover{
  color: red;
}
.header-list {
  float:left;
  margin: 12px 0;
}
.brand-name{
  position: absolute;
  left: 900px;
  font-size: 30px;
  font-family: cursive;
}
.men {
  margin: 13px 18px 0 0;
}

.info-list {
  float:left;
}
.collection {
  width: 600px;
  float: left;
  text-align: center;
}
.info-wrapper p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
footer li{
  display: inline;
  padding: 0 15px;
  font-size: 12px;
}
